page-login {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }   
    .title{
        font-family: "Bahnschrift" !important;
        font-size: 1.875em;
        color: #7273cc;
        letter-spacing: 2.2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .content-md{
        background-color: #94ebe2 !important;
}
    .item-content{
        background-color: #94ebe2 !important;
    }
    input[type=text] {
        color:#AE343A
    }
    input[type=password] {
        color:#AE343A
    }
}