page-login {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }   
    .title{
        font-size: 1.875em;
        letter-spacing: 2.2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color:rgb(56, 56, 56) ;
    }
    .content-md{
        background-color: #caf8f4 !important;
}
    .item-content{
        background-color: #caf8f4  !important;
    }
    input[type=text] {
        color:#AE343A
    }
    input[type=password] {
        color:#AE343A
    }
}