<ion-list>
  <ion-item *ngFor="let product of filterData" (click)="viewProduct(product)" style="text-overflow: ellipsis">
    <ion-thumbnail item-start>
      <img height="70" width="70" [src]="product.image" class="center">
    </ion-thumbnail>
    <button ion-item no-lines>
      <h2 style="width: 150px; text-overflow: ellipsis"> <b>{{product.title}}</b></h2>
      <p style="width: 180px; text-overflow: ellipsis; ">{{product.description}}</p>
      <p style="width: 150px; text-overflow: ellipsis; color:#cc1421"> <b>${{product.price}} </b></p>
    </button>
  </ion-item>
</ion-list>