<ion-list>
    <ion-grid>
        <ion-item>
            <ion-row>
                <ion-col col-3 no-padding>
                    <img height="70" width="70" src="../../assets/imgs/pic.jpg">
                </ion-col>
                <ion-col>
                    <button ion-item no-lines>
                        <h2> Product</h2>
                        <p> Description</p>
                        <p> $price </p>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-grid>
</ion-list>