<ion-list>
  <ion-item *ngFor ="let comment of comments" text-wrap>
    <ion-avatar item-start>
      <img src="../../assets/imgs/user.png">
    </ion-avatar>
    <p style=" font-size: small">{{comment.user_id.username}} • 5 minutes ago</p>
    <p style="margin-top: 5px; font-size: 11pt"><b>{{comment.content}} </b></p>
    <button *ngIf="(user.id == comment.user_id.id)||(user.id==product.user_id)" ion-button clear item-end icon-only color="dark" (click)="deleteComment(comment)" > <ion-icon name="trash"></ion-icon></button>
  </ion-item>
</ion-list>
