<ion-list no-padding>
  <ion-item *ngFor="let comment of comments let i=index"  [ngClass]="{active: isGroupShown(i)}"
    text-wrap no-padding>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/imgs/user.png">
      </ion-avatar>
      <p style=" font-size: small">{{comment.user_id.username}} • <span style=" font-size: 9pt" *ngIf="comment.edited; else createdComment">Edited
          at {{comment.updated?.substring(0, 10)}} {{comment.updated?.substring(11, 16)}} </span>
        <ng-template #createdComment> <span style=" font-size: 9pt">Created at {{comment.created?.substring(0, 10)}}
            {{comment.created?.substring(11,
            16)}} </span></ng-template>
      </p>
      <p style="margin-top: 5px; font-size: 11pt"><b>{{comment.content}} </b></p>
      <button *ngIf="(user.id == comment.user_id.id)" ion-button clear item-end icon-only color="dark" small (click)="updateComment(comment)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button *ngIf="(user.id == comment.user_id.id)||(user.id==product.user_id)" ion-button clear item-end icon-only
        color="dark" small (click)="deleteComment(comment)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <ion-row>
        <ion-buttons start>
          <button ion-button clear small color="dark" (click)="addReply(comment)">
            Reply
          </button>
          <button ion-button clear small item-right color="dark" (click)="toggleGroup(i)" (click)="getReplies(comment)" style="margin-left: 5px">
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            Replies
          </button>
        </ion-buttons>
      </ion-row>
    </ion-item>
      <ng-container no-padding *ngIf="isGroupShown(i)">
    <ion-item *ngFor="let reply of replies let i=index" style="margin-left: 10px" no-lines (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <ion-avatar item-start>
        <img src="../../assets/imgs/user.png">
      </ion-avatar>
      <p style=" font-size: small">{{reply.user_id.username}} • <span style=" font-size: 9pt" *ngIf="reply.edited; else createdReply">Edited
        at {{reply.updated?.substring(0, 10)}} {{reply.updated?.substring(11, 16)}} </span>
      <ng-template #createdReply> <span style=" font-size: 9pt">Created at {{reply.created?.substring(0, 10)}}
          {{reply.created?.substring(11,
          16)}} </span></ng-template>
          <p style="margin-top: 5px; font-size: 11pt"><b>{{reply.content}} </b></p>
      <button *ngIf="(user.id == reply.user_id.id)" ion-button clear item-end icon-only color="dark" small (click)="updateComment(reply)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button *ngIf="(user.id == reply.user_id.id)||(user.id==product.user_id)" ion-button clear item-end icon-only
      color="dark" small (click)="deleteComment(reply)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ng-container>
  </ion-item>

</ion-list>