page-home {
    .toolbar-background {
        background-color: #6083ba;
      }

      ion-searchbar{        
        .searchbar-input-container{            
            .searchbar-input{
                border-radius: 12px;
            }
        }
     }

    .home{
        width: 100%;
        height: 150px;
        background-color: grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }  
}
