<ion-header>
  <ion-toolbar no-border-top>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button icon-only menuToggle left>
      <ion-icon class="menubutton" name="menu"></ion-icon>
    </button>
    <ion-searchbar class="search" placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-menu [content]="mycontent" type="overlay">
  <ion-content no-bounce>
    <ion-list>
      <ion-item>
        <ion-card (click)="viewProfile()">
          <ion-item>
            <ion-icon item-start name="person"></ion-icon>
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <p style="text-overflow:ellipsis;">{{user.email}}</p>
          </ion-item>
          <ion-card-content>
            <p> @{{user.username}}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item>
        <button ion-button clear (click)="myProducts()"> My products </button>
      </ion-item>
      <ion-item>
        <button ion-button clear (click)="createProduct()"> Add new product </button>
      </ion-item>
      <ion-item>
        <button ion-button icon-end (click)="showConfirm()">
          Log out <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-item>
      <ion-item menuClose detail-none>Close Menu</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content >
  <!-- <div class="home">
    <h1 class="center"> Shop Online</h1>
  </div> -->
  <ion-list>
    <ion-grid>
      <!-- <component *ngIf="data"></component> -->
      <ion-item *ngFor="let product of filterData" (click)="viewProduct(product)" style="text-overflow: ellipsis">
        <ion-row>
          <ion-col col-3 no-padding>
            <img height="70" width="70" [src]="product.image">
          </ion-col>
          <ion-col>
            <button ion-item no-lines>
              <h2 style="width: 150px; text-overflow: ellipsis"> <b>{{product.title}}</b></h2>
              <p style="width: 150px; text-overflow: ellipsis">{{product.description}}</p>
              <p style="width: 150px; text-overflow: ellipsis; color:#cc1421"> <b>${{product.price}} </b></p>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-list>
</ion-content>