
page-new-product {
    .input .item-inner{
        box-shadow: none !important;

    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}
