page-cart {
    .card {
        background-color: #caf8f4 ; 
      }
    .item{
        background-color: #caf8f4 ;  
    }
    .item ion-icon{
        color:#D15D63
    }
    .button ion-icon{
        color: #D15D63;
        margin-left: 5px
    }
    .button ion-button{
        color: #AE343A
    }
}
